<nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header pull-right">
        <img width="110" src="/assets/img/cgiLogo.png">
      </div>
      <div class="navbar-header pull-left">
        <img width="150" src="/assets/img/scafLogo.png">
      </div>
    </div>
  </nav>
<div class="container" style="margin-left: 0px;">
    <div class="row">
       <div class="col-md-7">
        <div class="btn-group">
            <div class="dropdown">
              <button class="btn btn-default dropdown-toggle" style="width: 90px;" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                Formulaire
              <span class="caret"></span>
              </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                  <li><a routerLink="listpassquestionnaire">Passer Questionnaire</a></li>
                  <li *ngIf="!isAuthenticated()"><a routerLink="home">Login</a></li> 
                </ul>
              </div>
            </div>
            <div class="btn-group">
                <div class="dropdown">
                  <button *ngIf="isAuthenticated()" class="btn btn-default dropdown-toggle" style="width: 120px; margin-left: 5px;" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    Administration
                  <span class="caret"></span>
                  </button>
                      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li><a routerLink="listeoperateur">Liste Operateur</a></li>
                        <li><a routerLink="listDomain">Liste Domaine</a></li>
                        <li><a routerLink="listcatgen">Liste Categorie Generique</a></li>
                        <li><a routerLink="listcatmet">Liste Categorie Metier</a></li>
                        <li><a routerLink="listRole">Liste Rôle</a></li>
                        <li *ngIf="isAdminRole()"><a routerLink="listpost">Gestion du Poste</a></li>                       
                        <li><a routerLink="listcompetence">Liste Compétence</a></li>   
                        <li><a routerLink="postList">Liste Poste</a></li>   
                        <li><a routerLink="listquestionnaire">List Questionnaire</a></li>                
                     </ul>
                  </div>
                </div>
                <div class="btn-group">
                    <div class="dropdown">
                      <button class="btn btn-default dropdown-toggle" style="width: 125px; margin-left: 5px;" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Regard-RP-ROP
                      <span class="caret"></span>
                      </button>
                          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li style="font-size: 1px;"><a href="#" title="Lien 1">Vue Globale Complete</a></li>
                            <li><a href="#" title="Lien 2">Vue Globale Actuelle</a></li>
                            <li><a routerLink="viewlistquestions">Vue Question</a></li>
                        </ul>
                      </div> 
                </div>
       </div>
       <ul class="nav navbar-nav pull-right" style="cursor: pointer;">
          <li><a *ngIf="isAuthenticated()" (click)="logout()">logout</a></li>
       </ul>
      
    </div>

    <div class="col-md-5"> <router-outlet></router-outlet></div>
</div>